@media screen and (max-width: 700px) {
  #title {
    font-size: 42px;
  }
  .form-group {
    max-width: 100%;
    margin: 0;
    height: auto;
  }
  .radio-label {
    display: inline-block;
    padding: 0 0 0 80px;
    /* line-height: 4; */
  }
  #name,
  #email,
  #number {
    display: inline-block;
    text-indent: 2px;
    margin-left: 5px;
  }
  .checkbox-label {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  #title {
    text-align: left;
  }
  #description {
    font-size: 14px;
    text-align: left;
  }
}
