.bg {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5),
      rgba(255, 255, 255, 0.7)
    ),
    url(../assets/bg.jpg);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* .container {
  text-align: center;
  max-width: 100%;
} */
/* ************************************* */
/* The Header section  */
.header {
  font-family: cursive, monospace, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  color: #fff;
  height: 100vh;
  position: fixed;
  left: 10%;
}
#title {
  font-size: 50px;
}
#description {
  margin-top: -20px;
}

/* **************************************** */
/* The main content section which is a form  */
#survey-form {
  display: block;
  position: fixed;
  right: 20%;
  top: 20%;
  box-sizing: border-box;
}
/* #survey-wrapper { */
/* } */

.form-group {
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  width: 700px;
  height: 320px;
  padding: 55px;
  margin: 10px 0;
  border-radius: 4px;
  /* overflow: none; */
}

.default {
  display: block;
}
:target {
  display: block;
}
:target ~ .default {
  display: none;
}
.form-group .main {
  height: 65%;
  box-sizing: border-box;
}
.form-element {
  display: block;
  padding: 15px;
  width: 300px;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid #414146;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-radius: 2px;
  margin-right: 10px;
}

.form-navigation {
  display: block;
  height: 35%;
  text-align: right;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  padding: 3px;
  color: red;
}
/* .pageNumber {
  padding: 5px;
  background-color: #ffee;
  border: #ff28;
} */

#name-label,
#email-label,
#number-label {
  display: block;
  font-size: 1.2em;
  font-weight: 500;
  color: #414146;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 5px;
  color: green;
}
#name,
#email,
#number {
  display: inline-block;
  text-indent: 2px;
  margin-left: 80px;
}

.input-title {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: left;
  text-indent: 5px;
  color: #414146;
  font-style: italic;
}

/* ____ The drop down - select group ____ */
.dropdown-group {
  width: 50%;
  margin: 50px auto;
  font-size: 16px;
  text-align: center;
}
#dropdown {
  appearance: none;
  outline: none;
  box-shadow: none;
  border: 0 !important;
  background-color: #fff;
  padding: 13px;
  border-radius: 2px;
  font-size: 16px;
}

.dropdown-option {
  font-size: 16px;
  color: #414146;
}
/* ___the radio group___  */
.radio-label {
  padding: 20px 0 0 80px;
  font-size: 24px;
  line-height: 5;
  position: relative;
  cursor: pointer;
}
.radio-label input[type="radio"] {
  display: none;
}
.radio-label span {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid;
  border-radius: 50%;
  position: absolute;
  left: 49px;
  top: 21px;
}
.radio-label input[type="radio"]:checked ~ span {
  border: 2px solid #c9a45c;
  background: #a18957;
}
.radio-label span::after {
  content: "\2713";
  display: block;
  font-size: 38px;
  color: white;
  display: block;
  position: absolute;
  top: -6rem;
  left: 0;
  transform: scale(0);
}
.radio-label input[type="radio"]:checked ~ span::after {
  transform: translate(0, 5px) scale(1);
}

/* _____ The checkbox group _____  */
#checkbox-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: left;
}
.checkbox-label {
  width: 42%;
  position: relative;
  padding: 10px;
  font-size: 18px;
  margin-left: 20px;
}
.input-checkbox {
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  padding: 10px;
  border-radius: 4px;
  outline: none;
  border: 2px solid #414146;
  margin-right: 7px;
}
.checkbox-label > span {
  padding: 0 0.25rem;
  margin-right: 5px;
}
.checkbox-label > input:checked {
  border: 1.5px solid #c9a45c;
  background: #a18957;
}
.checkbox-label > input:checked + span::before {
  content: "\2713";
  font-size: 2em;
  display: block;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0.9rem;
  top: 0.1rem;
  transform: translate(0, -10px);
}

/* ____ The text Area group _____  */
.input-textarea {
  width: 95%;
  height: 70%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin: 10px auto;
  line-height: 1.5em;
  border-radius: 5px;
}
/* footer {
  width: 100%;
} */
.page-process {
  display: inline;
}
.nav-anchor {
  text-decoration: none;
}
.p-navigator {
  padding: 10px;
  font-size: 53px;
  font-weight: 800;
  color: #414146;
}

#fourthPage {
  float: left;
}
.stage {
  color: #414146;
  float: right;
}

/* _____ It's a submit Buttom _____  */
.submit-div {
  display: inline-block;
  margin-top: 40px;
}
.input-submit {
  float: right;
  padding: 15px 55px;
  font-size: 18px;
  font-weight: 700;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgba(34, 33, 33, 0.9);
  border-radius: 7px;
  /* color: #fff; */
  background-color: #8d0909de;
}

::placeholder {
  font-size: 16px;
  padding: 10px;
}
