.container {
  width: 700px;
  font-size: 18px;
  margin: auto;
  background-color: #eeeecccf;
  text-align: center;
}
#survey-form {
  background-color: #ddce84df;
  padding: 10px;
  line-height: 20px;
}
.form-group {
  padding: 20px;
  margin: auto;
  text-align: left;
}
.form-element {
  display: block;
  padding: 10px;
  width: 300px;
}
.first-label {
  line-height: 2em;
  font-size: 1.2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}
.input-title {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: Garamond, Arial, Helvetica, sans-serif;
  text-align: left;
  text-indent: 5px;
}
.checkbox-elm {
  display: inline-flex;
  cursor: pointer;
  position: relative;
}
.checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 10px;
  outline: none;
}
.checkbox > span {
  color: #34495e;
  padding: 0 0.25rem;
}
.checkbox:checked {
  border: 1.5px solid #e5f;
  background-color: #ee59fd66;
}
.checkbox-elm > input:checked + span::before {
  content: "\2713";
  font-size: 2em;
  display: block;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 0.9rem;
  top: 0.5rem;
}

.input-textarea {
  width: 95%;
  height: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input-submit {
  padding: 7px;
  width: 150px;
  border-radius: 4px;
  color: rgb(34, 33, 33);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
